@import "tailwindcss";
@source "./";
@custom-variant dark (&:where(.dark, .dark *));

/* Scroll suave en iOS */
* {
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

.overflow-y-auto {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}